<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Twitoff App</title>
</head>
<body>

    <div class="container">
        <div id="nav">
            <h1><a href="/books">My Web App</a></h1>
        </div>
    </div>

    <h1>New Book Form</h1>


    <div id="footer">
        <hr>
        &copy; Copyright 2023 Nour Etienne Huens de Brouwer |
        <a href="https://github.com/nouretienne">source</a>
    </div>

</body>
</html>